body {
    font-family: sans-serif;
    background-image:url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwigi_uIrKPQAhUHNI8KHRT5AVgQjRwIBw&url=http%3A%2F%2Fwallpapercave.com%2Fhd-background-images&psig=AFQjCNGB7AILIfElIgCA4-N5-6AMiAv4Mg&ust=1479044439658597");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

