body {
    font-family: sans-serif;
    background-image:url("http://i2.cdn.cnn.com/cnnnext/dam/assets/150820163747-profile-background-stock---no-photo-full-169.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-style: inset;
    border-color: white;
    border-width: 25px;
}

