body {
    font-family: sans-serif;
    background-image:url("http://wallpapercave.com/wp/gsGFxkc.jpg");
    margin-top: 75px;
}
img{
    border-style: inset;
    border-color: black;
    padding: 10;
    border-width: 15;
          }
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

